span{
    display: grid;
    padding: 0rem;
}

.card{
    text-align: left;
    border-radius: 2rem;
    padding: 3rem;
    margin: 4em;
    background-color: black;
    box-shadow: 0rem 0rem 3rem #bac9d0;
}

.disabled {
    opacity: 10%;
}