.divForm {
  text-align: left;
  border-radius: 2rem;
  padding: 3rem;
  margin: 3rem;
  background-color: black;
  box-shadow: -25px -25px 70px -40px rgb(168, 123, 45), 25px 25px 70px -40px rgb(163, 72, 196);
}